.who-leads{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  min-width: 1170px;
  background: url("../img/who-leads-bg.png") center center no-repeat;
  background-size: cover;
  h1{
    color: #124c67;
    font-size: 53px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 67px;
    margin-bottom: 7px;
  }
  p{
    width: 626px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    margin-top:0;
    margin-bottom: 35px;
    line-height: 23px;
  }
  &__result{
    display: block;
    position: relative;
    float: left;
    width: 686px;
    margin-bottom: 40px;
    img{
      width: 114px;
      object-fit: cover;
      margin-right: 20px;
    }
  }
}