.footer{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  min-width: 1170px;
  background: #000102;
  height: 141px;
  &__logo{
    margin-top: 40px;
    display: block;
    position: relative;
    float: left;
    width: 200px;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  &__menu{
    display: block;
    position: relative;
    float: left;
    width: 520px;
    margin-left: 110px;
    ul{
      margin: 42px 0 0 0;
      padding: 0;
      list-style: none;
      li{
        color: #ffffff;
        display: inline-block;
        margin-right: 36px;
        &:last-child{
          margin-right:0;
        }
       a{
         font-size: 16px;
         font-weight: 400;
         color: #ffffff;
       }
      }
    }
  }
  &__contacts{
    display: block;
    position: relative;
    float: right;
    width: 180px;
    margin-top: 18px;
    text-align: right;
    a{
      color: #ffffff;
      font-size: 15px;
      margin-bottom: 17px;
      font-weight: 400;
      display: block;
      i{
        color: #50aaff;
        display: inline-block;
        float: left;
      }
      &:nth-of-type(3){
        display: inline-block;
        float: right;
        width: 31px;
        height: 31px;
        background-color: #50aaff;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        margin-left: 16px;
        transition: 200ms ease;
        &:hover{
          transition: 200ms ease;
          background: #118ac1;
        }
        i{
          color: #fff;
          float: none;
        }
      }
      &:nth-of-type(4){
        display: inline-block;
        float: right;
        background-color: #50aaff;
        width: 31px;
        height: 31px;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        line-height: 30px;
        margin-left: 16px;
        transition: 200ms ease;
        &:hover{
          transition: 200ms ease;
          background: #118ac1;
        }
        i{
          color: #fff;
          float: none;
        }
      }
    }

  }
}